.collection-header-padding {
    padding-top: 2%;
    padding-bottom: 3%;
}

.collection-button {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 10%;
}

@media screen and (max-width: 576px) { 
    /* .collection-button {
        flex-direction: column;
    }

    button:first-child{
        margin-bottom: 10%;
    } */
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    /* .collection-button {
        flex-direction: column;
    }

    button:first-child{
        margin-bottom: 10%;
    } */
}

@media (min-width: 992px) {
    /* .collection-button {
        gap: 10%;
    } */
}