.button {
    width: 180px;
    height: 70px;
    padding: 16px 32px;
    border-radius: 20px;
    background: #B4EDFF;
    border: 0;
    box-shadow: 0 5px 0 #65A1B4;
    overflow: hidden;
}

.button:hover {
    background: #8fe2fc;
}

.button:active {
    background: #8fe2fc;
    box-shadow: 0 2px 0 #65A1B4;
    transform: translateY(2px);
}

.button-text {
    font-size: 16px;
    font-weight: 700;
    color: black;
}


@media screen and (max-width: 576px) {
    .button {
        width: 112px;
        height: 56px;
        padding: 4px 8px;
    }

    .button-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .button {
        width: 144px;
        height: 56px;
        padding: 4px 8px;
    }
}