.flex-container {
    display: flex;
    justify-content: center;
}

.flex-padding {
    padding: 8.33% 0 8.33% 0;
}

.center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-container {
    margin: auto;
}

.intro {
    font-weight: 700;
    margin-top: 0;
    font-size: 34px;
}

.self-intro {
    font-size: 28px;
    /* font-size: 18px; */
}

.phase-container {
    display: flex;
    align-items: center;
}

h1 {
    margin-bottom: 8px;
}

.black {
    background-color: black;
}

@media screen and (max-width: 576px) { 
    .flex-container {
        flex-direction: column;
        width: 58.33%;
        margin: auto;
    }

    .flex-container img {
        max-width: 75%;
        height: auto;
    }

    .text-container {
        text-align: center;
    }

    .intro {
        font-size: 22px;
    }

    .self-intro {
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
        text-align: center;
    }

    h2 {
        font-size: 22px;
        text-align: center;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 4px;
    }
    

    .phase-container {
        flex-direction: column;
        width: 100%;
    }

    .phase-container p {
        font-size: 14px;
    }

    .show {
        display: none;
    }

    .top-padding {
        padding-top: 8.33%;
    }

    .flex-column {
        align-items: center;

    }

    .margin-bottom {
        margin-bottom: 8px;
    }
}

/* Tablets  */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .flex-container {
        flex-direction: column;
        width: 58.33%;
        margin: auto;
    }

    .flex-container img {
        max-width: 66.66%;
        height: auto;
    }

    .text-container {
        text-align: center;
    }

    .intro {
        font-size: 28px;
    }

    .self-intro {
        font-size: 22px;
    }

    .phase-container {
        flex-direction: column;
        width: 100%;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    .show {
        display: none;
    }

    .top-padding {
        padding-top: 8.33%;
    }

    .flex-column {
        align-items: center;
    }

    .margin-bottom {
        margin-bottom: 8px;
    }

    .phase-container img {
        max-width: 220px;
    }

    .profile-img {
        max-height: 260px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .flex-container {
        width: 66.66%;
        margin: auto;
        gap: 8.33%;
    }

    .flex-container img {
        max-width: 41.66%;
        height: auto;
    }

    .text-container {
        max-width: 50%;
    }

    .disappear {
        display: none;
    }

    .top-padding {
        padding-top: 0;
    }

    .phase-container {
        max-height: 300px;
    }

    .phase-container img {
        max-width: 33.33%;
    }

    .margin-bottom {
        margin-bottom: 48px;
    }
}