* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

@media only screen and (min-width: 700px) {
  /* For tablets & mobile phones: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

}

@media only screen and (min-width: 700px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


@media only screen and (min-width: 752px) {
  /* For tablets & mobile phones: */
  h2 {
    font-size: 24px;
  }
}

  /* For desktop: */
  h1 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: .12em;
    color: white;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
  }
  
  h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .12em;
    margin-bottom: 16px;
  }
  
  p {
    font-size: 20px;
    margin-top: 16px;
  }



[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
  height: auto;
}


section {
  /* max-width: 900px; */
  padding: 80px 240px;
}

.yellow-font {
  color: #FEF4BD;
}

.green-font {
  color: #B1E814;
}

.white-font {
  color: white;
}
