.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: black;
}

.navbar a {
    color: #FFFFFF;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.12em;
}

.navbar a:hover {
    color: #FFE922;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 34.5px;
    width: 40px;
    height: 40px;
    padding: 10px;
    position: absolute;
}

.nav-menu {
    margin-left: auto;
}

.nav-menu ul {
    display: flex;
    padding: 0;
}

.nav-menu li {
    /* removes default disc bullet for li tags and applies margin to left & right side */
    list-style-type: none;
    margin-left: 40px;
}

@media screen and (max-width: 992px) {
    .logo {
        margin-left: 8.33%;
    }
    .nav-menu ul {
        display: none;
    }

    .nav-menu.expanded ul {
        display: block;
        /* navigation menu is positioned to start 80px from the top of the document (which is directly below the navbar) */
        position: absolute;
        top: 80px;
        left: 0;
        /* stacks the li tags vertically  */
        flex-direction: column;
       /* makes menu span full height and width */
        width: 100%;
        height: calc(100vh - 77px);
        background-color: black;
      }
      .nav-menu.expanded li {
        /* centers link text and strips off margin */
        text-align: center;
        margin: 0;
      }
      .nav-menu.expanded a {
        color: white;
        /* increases the surface area of the anchor tag to span the full width of the menu */
        width: 100%;
        padding: 24px 0;
        /* increases the surface area of the anchor tag to span more than just the anchor text */
        display: block;
      }

      .nav-menu.expanded a:hover {
        color: #FFE922;
    }
  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar {
        padding: 0 16.66%;
    }
    .menu-button {
        display: none;
    }
}

